<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Start a new coupon campaign</h1>

    {{#if run}}
      {{#if succeeded}}
        <div class="jumbotron">
          Your campaign has been launched!
          <h1>{{code}}</h1>
          <p>When a customer wants to redeem their coupon, enter this code into their device.</p>
        </div>
      {{else}}
        <div data-alert class="alert alert-danger">
          Failed to launch your campaign.
        </div>
      {{/if}}
    {{/if}}

    <form role="form">
      <div class="form-group">
        <label>Business</label>
        {{view Ember.Select
            viewName="select"
            contentBinding="controllers.businesses"
            selectionBinding="selectedBusiness"
            optionValuePath="content.id"
            optionLabelPath="content.name"
            classNames="form-control"
        }}
        <p>{{selectedBusiness.id}} - {{selectedBusiness.name}}</p>
      </div>
      <div class="form-group">
        <label>Reach</label>
        <div class="form-group form-inline">
          In total, I would like to reach about
          {{input type="text" id="reach" class="form-control" value=reach}}
          people today.
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Ad Options</label>
          <div class="form-group">
            <label for="title" class="sr-only">Title</label>
            {{input type="text" id="id-title" class="form-control" value=title placeholder="Write a title for your ad"}}
          </div>
          <div class="form-group">
            <label for="description" class="sr-only">Text</label>
            {{textarea id="description" class="form-control" value=description placeholder="Write a description for your ad"}}
          </div>
          <div class="form-group">
            <label for="image" class="sr-only">Image</label>
            {{input type="text" id="image" class="form-control" value=image placeholder="Add an image URL"}}
          </div>
        </div>
        <div class="col-md-6">
          <label>Example ad</label>
          <div class="panel panel-default">
            <div class="panel-heading">{{title}}</div>
            <div class="panel-body">
              {{ad_text}}
              <br />
              <img {{bind-attr src=image}}>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group form-inline">
        <label>Targeting</label>
        The customer should be no more than
        {{input type="text" id="max_distance" class="form-control" value=max_distance}}
        {{view Ember.Select content=distanceUnits id="distance-unit" class="form-control" value=distance_unit}}
        away from the business address.
      </div>
      <button {{action 'save'}} id="submit" class="btn btn-default">Launch!</button>
    </form>
  </div>
</div>
