<h1 class="page-header">Start a new coupon campaign</h1>
  {{#if run}}
    {{#if succeeded}}
      <div data-alert class="alert alert-successful">
        Your campaign has been launched!
        <h1>{{code}}</h1>
        <p>When a customer wants to redeem their coupon, enter this code into their device.</p>
      </div>
    {{else}}
      <div data-alert class="alert alert-danger">
        Failed to launch your campaign.
      </div>
    {{/if}}
  {{/if}}<form class="main-form">
  <div class="form-horizontal">
    <h3>Business</h3>
    {{view Ember.Select
        viewName="select"
        class="form-control"
        contentBinding="controllers.businesses"
        selectionBinding="selectedBusiness"
        optionValuePath="content.id"
        optionLabelPath="content.name"
    }}
    <p>{{selectedBusiness.id}} - {{selectedBusiness.name}}</p>
  </div>
  <div class="form-inline">
    <h3>Price Details</h3>
    <div class="form-group">
      The customer must spend at least
      <div class="input-group">
        <div class="input-group-addon">$</div>
        {{input type="text" id="min-spend" class="form-control" value=min_spend}}
      </div>
      to use their coupon.
    </div>
    <br><br>
    <div class="form-group">
      I am willing to spend
      <div class="input-group">
        <div class="input-group-addon">$</div>
        {{input type="text" id="coupon-value" class="form-control" value=coupon_value}}
      </div>
      per customer.
    </div>
    <br><br>
    <div class="form-group">
      In total, I would like to reach about
      {{input type="text" id="reach" class="form-control" value=reach}}
      people today.
    </div>
  </div>
  <div class="form-horizontal">
    <h3>Ad Options</h3>
    <div class="form-group">
      <label for="image" class="col-sm-3 control-label">Image</label>
      <div class="col-sm-9">{{input type="text" id="image" class="form-control" placeholder="URL" value=image}}</div>
    </div>
    <div class="form-group">
      <label for="title" class="col-sm-3 control-label">Title</label>
      <div class="col-sm-9">{{input type="title" id="ad-text" class="form-control" value=title}}</div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">{{textarea id="description" class="form-control" value=description}}</div>
    </div>
  </div>
  <div class="form-inline">
    <h3>Targeting</h3>
    <div class="form-group">
      The customer should be no more than
      {{input type="text" id="max_distance" class="form-control" value=max_distance}}
      {{view Ember.Select content=distanceUnits id="distance-unit" class="form-control" value=distance_unit}}
      away from the business address.
    </div>
  </div>
  <div class="form">
    <button {{action 'save'}} id="submit" class="btn btn-default">Launch!</button>
  </div>
</form>
